body {
    background-color: #2e2e2e !important; /* Cor de fundo escura */
}

/* Estilização do Card */
.login-card {
    background-color: #3f3f3f34; /* Cor do fundo do card */
    border-radius: 12px;
    padding: 20px;
    max-width: 400px; /* Largura máxima do card */
    width: 190%;
    border: none;
}

/* Estilização dos Inputs */
.custom-input {
    background-color: white; 
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    height: 50px;
    color: black;
    font-size: 1rem;
}

/* Placeholder (texto dentro do input) */
.custom-input::placeholder {
    color: #999;
}

/* Estilização do Título */
.login-card h3 {
    color: white !important;
    font-weight: 600;
}

/* Estilização do Botão Vermelho */
.btn-red {
    background-color: #dc3545; /* Vermelho forte */
    border-color: #dc3545;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background-color: #c82333; /* Um pouco mais escuro ao passar o mouse */
    border-color: #c82333;
}